.user_wrapper {
  width: 100%;
}
.user_table {
  border-spacing: 0px;
  padding: 10px;
  width: 100%;
}
.user_navigation {
  background-color: #cccccc;
}
.user_navigation_link {
  padding: 10px;
  text-align: left;
}
.user_name {
  display: flex;
}
.user_name p {
  padding-left: 10px;
}
.user_img {
  border-radius: 100%;
  align-self: center;
}
